@page "/"



<h1>@headingText</h1>
 <p>Counter:@count</p>

<button class="btn btn-primary" @onclick="Increment">Click me!</button>

<h3 class="bg-info text-white">Select Your City</h3>

<SelectCity MyCity="Warsaw" MyBackground="bg-warning" myCustomEvent="@HandleCustom">
    <Weather>Moderate and Humid</Weather>
    <Elevation>14m</Elevation>
 
</SelectCity>
<label>@SelectedCity</label>

<NewCity> Commercial Capital of London</NewCity>

@code{

    private string headingText = "Welcome to Blazor";
    private int count = 0;

    public void Increment()
    {
        count++;
    }

    public string SelectedCity;
    public void HandleCustom(string newValue)
    {
        SelectedCity = newValue;
    }
}
