<h3 class="bg-info text-white">@City</h3>
<div class="panel-body">@ChildContent</div>


@code {
    [Parameter]
    public string City { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}

